includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    paths:
        - app
        - routes

    level: 6
    tmpDir: storage/framework/cache/phpstan
    treatPhpDocTypesAsCertain: false
